<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userController" class="name.frb.wechat.controller.UserController">
        <property name="userService" ref="userService"/>
    </bean>

    <bean id="messageController" class="name.frb.wechat.controller.UserMsgController">
        <property name="messageService" ref="messageService"/>
    </bean>

    <bean id="wechatController" class="name.frb.wechat.controller.WechatController">
        <property name="wechatService" ref="wechatService"/>
    </bean>

    <bean id="newsMsgController" class="name.frb.wechat.controller.NewsMsgController">
        <property name="newsMsgService" ref="newsMsgService"/>
    </bean>

    <!-- Spring MVC ResponseBody encoding converter -->
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter"/>
                <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                    <property name="supportedMediaTypes">
                        <list>
                            <bean class="org.springframework.http.MediaType">
                                <constructor-arg index="0" value="text"/>
                                <constructor-arg index="1" value="plain"/>
                                <constructor-arg index="2" value="UTF-8"/>
                            </bean>
                        </list>
                    </property>
                </bean>
                <bean class="org.springframework.http.converter.xml.SourceHttpMessageConverter"/>
                <bean class="org.springframework.http.converter.xml.XmlAwareFormHttpMessageConverter"/>
            </list>
        </property>
    </bean>
</beans>