<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDao" class="name.frb.wechat.manager.dao.UserDao">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
    <bean id="userService" class="name.frb.wechat.manager.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean id="newsMsgDao" class="name.frb.wechat.manager.dao.NewsMsgDao">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

    <bean id="newsMsgService" class="name.frb.wechat.manager.service.impl.NewsMsgServiceImpl">
        <property name="newsMsgDao" ref="newsMsgDao"/>
    </bean>

    <bean id="messageService" class="name.frb.wechat.manager.service.impl.MessageServiceImpl">
        <property name="messageDao" ref="messageDao"/>
    </bean>

    <bean id="personService" class="name.frb.wechat.manager.service.impl.RepositoryPersonService"/>
</beans>