<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--Database: klxdb-->
    <!--Username: klxuser-->
    <!--Allowed IPs: %-->
    <!--Port:3306-->
    <!--Host:db4free.net-->
    <!--Collation: utf8_general_ci-->
    <!--Email: fangrenbin@gmail.com-->

    <!-- data source -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${Database.DirverClass}"/>
        <property name="jdbcUrl" value="${Database.JdbcUrl}"/>
        <property name="user" value="${Database.User}"/>
        <property name="password" value="${Database.Password}"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>